!!!
%html
  %head
    %title= (@title.blank? ? '' : "#{@title} | ") + configatron.site_name
    %link{:rel => 'stylesheet', :href => '/css/app.css'}
    %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.4.2.min.js'}
    %script{:type => 'text/javascript', :src => '/js/app.js'}

  %body
    %p Hello @#{@user.screen_name}!
    %h1= @title || configatron.site_name

    = yield