!!!
%html
  %head
    %title= (@title.blank? ? '' : "#{@title} | ") + configatron.site_name
    %link{:rel => 'stylesheet', :href => '/css/app.css'}

  %body
    %p Hello @#{@user.screen_name}!
    %h1= @title || configatron.site_name

    = yield